@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --light: #F9FBF6;
  --primary: #0C4E32;
  --secondary: #A2D7A8;
  --dark: #041E13;
}

body {
  font-family: "Inter", sans-serif;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  background-color: var(--light);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  cursor: pointer;
  transition: all 300ms ease;
  box-shadow: 0px 8px 24px -1px rgba(0, 38, 22, 0.5);
}

button:hover{
  transform: scale(110%);
}

#about-nav-bar{
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  font-family: "Inter", sans-serif;
  padding-inline: 2.4375rem;
  align-items: center;
  background-color: var(--secondary);
}

nav ul{
  display: flex;
  gap: 30px ;
  justify-content:space-between ;
  padding-right: 8vw;
}

#contact-btn{
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--light);
  font-family: "inter", sans-serif;
  font-weight: 500;
}

h1{
  font-size: 4.25rem;
  font-weight: 500;
  padding-bottom: 8px;
  font-family: "Inter", sans-serif;
}

#about-hero{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
}

#about-our-mission,#about-our-vision,#about-our-values{
  display: flex;
  font-family: "Poppins", sans-serif;
  padding-inline: 2.4375rem;
  flex-wrap: wrap;
  padding-top: 72px;
  height: 70vh;
}

h2{
  flex: 1;
  font-size: 2rem;
  color: var(--dark);
  font-family: "Inter", sans-serif;
}

#about-our-mission .text, #about-our-vision .text,#about-our-values-text{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 30px;
}

.p-wrapper{
  display: flex;
  align-items:baseline;
  gap: 5px; 
}

#about-our-vision{
  background: url(./images/engineer\ walking\ glass\ windows.svg);
  background-size: center;
  background-repeat: no-repeat;
  background-position: center center;
  color: var(--light);
}

#about-our-vision h2{
  color: var(--light);
}

#team-h3{
  color: black;
  font-size: 2rem;
  color: var(--dark);
  font-family: "Inter", sans-serif;
  text-align: center;
  padding-bottom: 48px;
}

#team-gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
}

.card{
  min-height: 455px;
  background: url(./images/filler\ ceo.png);
  background-position: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.card:nth-child(2){
  background: url(./images/filler\ exec\ glasses.png);
  background-repeat: no-repeat;
}

.card:nth-child(3){
  background: url(./images/filler\ exec\ female.png);
  background-repeat: no-repeat;
}

.card:nth-child(4){
  background: url(./images/filler\ exec.png);
  background-repeat: no-repeat;
}

.card-text{
  background:url(./images/black\ mask.svg);
  width: 100%;
  padding-block: 20px;
  color: var(--light);
}

.card-text p{
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.card-text p:nth-child(2){
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

footer {
  background-image: url(./images/footer.svg);
  background-repeat: no-repeat;
  background-position: cover;
  color: var(--light);
  margin-top: 200px;
  padding-top: 66px;
}

#footer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-inline: 10vw;
  gap: 10px;
}

.footer-row {
  width: fit-content;
  min-width: 150px;
}

footer h3 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 3vw;
}

footer ul {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 16px;
}

footer .line {
  height: 1px;
  width: 95%;
  background-color: var(--light);
  margin-inline: auto;
  border-radius: 30%;
  margin-top: 50px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-size: 14px;
  font-weight: 300;
  min-height: 32px;
}

.ham-menu{
  display: none;
}

.side-bar {
  position: fixed;
  right: -45000px;
  top: 0;
  height: 100vh;
  width: 50%;
  background: rgba(201, 217, 203, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(201, 217, 203, 0.3);
  transition: right 500ms ease;
}

.close-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
  padding-top: 2vh;
  margin-bottom: 2vh;
  cursor: pointer;
}

.close-wrapper img {
  width: 20px;
}

.next img {
  width: 15px;
}

.white {
  display: none;
}

.side-bar-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-inline: 3vw;
  padding-block: 2.5vh;
}

.side-bar a {
  transition: background-color 300ms ease;
}

.side-bar a:hover {
  background-color: var(--primary);
  color: var(--light);
}

.side-bar a:hover>.next {
  display: none;
}

.ham-menu img{
  width: 30px;

}

@media (max-width: 750px){
  h1{
    font-size: 3rem;
  }
  #contact-btn, nav{
    display: none;
  }
  .ham-menu{
    display: block;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
  footer {
    background-image: url(./images/footer\ mobile.svg);
    background-position: center;
    background-size: cover;
    }
  footer h3{
    padding-left: 5.2vw;
  }
  
  #footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh;
  }

  #team-gallery{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .card{
    margin-inline: auto;
    width: 360px;
    border-radius: 16px;
  }
  #about-our-vision,
  #about-our-mission,
  #about-our-values{
    flex-direction: column;
    height: fit-content;
    padding-bottom: 32px;
    background-position: center;
  }
  #about-our-vision h2,
  #about-our-mission h2,
  #about-our-values h2{
    padding-bottom: 32px;
  }
}